:host {
  display: block;
}

.entrance-page {
  display: grid;
  place-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--basic-color);

  &__card {
    display: grid;
    place-content: center;
    gap: 24px;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 0 7px -0 #fff;
    padding: 20px 30px;
    text-align: center;
  }

  &__color {
    font-size: 48px;
    font-weight: 700;
  }

  &__button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
  }
}
